/*Modo Dark*/ 
*{
    margin: 0;
    padding: 0; 
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #030b1d;
    color: rgb(247, 246, 236);
}

.Strong1 {
    color: aqua;
}

.Containerimg {
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.Principal {
    display: flex;
    flex-direction: row;
    align-items: center;
 
}