/* Modo Light */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 :root{
    --cor-body: #FDF7E4;
    --cor-body-0: #151515;;
    --cor-texto-principal: #000000;
    --cor-texto-branco2: #ffffff;
    --cor-texto-botões: #151515;
    --cor-destaque: #BBAB8C;
    --cor-botoes:   #DED0B6;

    --letra1:"Montserrat", sans-serif ;
    --letra2: 
} 

*{
    margin: 0;
    padding: 0;
 
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--cor-body);
    color: var(--cor-texto-principal);
    display: flex;
    flex-direction: column;
}


header{
    color: var(--cor-texto-botões);;
    text-align: center;
    font-family:"Montserrat", sans-serif ;
    font-size: 12px;

}

.cabecalho__menu {
    display: flex;
    justify-content: space-around;
    gap: 400px;
    

}


.cabecalho__menu__tema{
    display: flex; 
    align-items: center;
    text-align: center;
    
}


.cabecalho__menu__botao{
    border: 2px solid var(--cor-body);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;

}


.cabecalho__menu__botao:hover{
    border: 2px solid var(--cor-texto-botões);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.cabecalho__menu__botao__Img{
    width: 30px;
    height: 30px;
    align-items: center;
}


.cabecalho__menu__lang__button{
    border: 2px solid var(--cor-body);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    padding: 6px 0;
    color: var(--cor-texto-branco2);
    text-decoration: none;
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.cabecalho__menu__lang__button:hover{
    border: 2px solid var(--cor-texto-botões);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    padding: 6px 0;
    color: var(--cor-texto-botões);
    text-decoration: none;
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}


.Strong1 {
    color: var(--cor-destaque);
}

.Containerimg {
    /* Imagem */
    max-width: 500px;
    max-height: 500px;
    width: 550px;
    height: 600;
    
}

.Principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex:1;
    margin: 0;
    gap: 0px;
    
}


.Principal__TextButton{
    width: 650px;
    top: 278px;
    left: 357px;
    gap: 0px;
    opacity: 0px;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    

}

.Principal__TextButton__h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
}

.Principal__TextButton__p {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
}

.Principal__TextButton__Buttons{
    display: flex;
    gap: 20px;
}

.Principal__TextButton__Buttons1 {
    display: grid;
    justify-content: space-between;
}

.Principal__TextButton__Buttons2 {
    display: grid;
    justify-content: space-between;
}

.Principal__TextButton__Buttons__Button {
    /* background-color: aqua; */
    border: 2px solid var(--cor-destaque);
    width: 230px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 8px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

}

.Principal__TextButton__Buttons__Button:hover {
    /* background-color: var(--cor-destaque); */
    border: 2px solid var(--cor-texto-principal);
    background-color: var(--cor-destaque);
    width: 230px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 8px 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transform: rotateY(10deg, 0%) translateZ(-10px, 0%); 
    transform-origin: left;

}


.Principal__TextButton__About{
    display: flex;
    flex-direction: column;

}


.Principal__TextButton__About__Text{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.Principal__TextButton__About__Button {
    border: 2px solid var(--cor-texto-botões);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}



.Principal__TextButton__About__Button:hover{
    border: 2px solid var(--cor-texto-principal);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}


footer {
    color: var(--cor-destaque);
    padding: 20px;
    text-align: center;
    font-family:"Montserrat", sans-serif ;
    font-size: 12px;

}


.rodape__button {
    text-decoration: none;
    color: var(--cor-destaque);
}


.rodape__button:hover {
    text-decoration: underline;
}