/*Modo Dark*/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Matemasie&display=swap&family=Matemasie&family=New+Amsterdam&display=swap&family=Saira+Stencil+One&display=swap&family=Permanent+Marker&family=Saira+Stencil+One&display=swap&family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Mouse+Memoirs&display=swap');

 :root{
    --cor-body: #01040b;
    --cor-texto-principal: #f7f6ec;
    --cor-texto-branco2: #ffffff;
    --cor-texto-botões: #000000;
    --cor-destaque: #00ffff;
    --cor-botoes:  #C0C0C0 ;

    --letra1:"Montserrat", sans-serif ;
    --letra2: 
} 

*{
    margin: 0;
    padding: 0;
 
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--cor-body);
    color: var(--cor-texto-principal);
    display: flex;
    flex-direction: column;
}


header{
    color: var(--cor-texto-botões);;
    text-align: center;
    font-family:"Montserrat", sans-serif ;
    font-size: 0.75rem;

}

.cabecalho{
    padding: 0% 0% 0% 0%;
}


.cabecalho__menu {
    display: flex;
    justify-content: space-around;
    gap: 25rem;
    

}


.cabecalho__menu__tema{
    display: flex; 
    align-items: center;
    text-align: center;
    
}


.cabecalho__menu__botao{
    border: 2px solid var(--cor-texto-botões);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 0.8125rem;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;

}


.cabecalho__menu__botao:hover{
    border: 2px solid var(--cor-texto-principal);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 0.8125rem;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.cabecalho__menu__botao__Img{
    width: 30px;
    height: 30px;
    align-items: center;
}


.cabecalho__menu__lang__button{
    border: 2px solid var(--cor-texto-botões);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 0.8125rem;
    padding: 6px 0;
    color: var(--cor-texto-botões);
    text-decoration: none;
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

.cabecalho__menu__lang__button:hover{
    border: 2px solid var(--cor-texto-principal);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 0.8125rem;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}


.Strong1 {
    color: var(--cor-destaque);
    text-decoration: none;
}

.Containerimg {
    /* Imagem */

    width: 25%;
    /* height: 600; */
    
}

.Principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex:1;
    margin: 0;
    gap: 0px;
    
}


.Principal__TextButton{
    width: 45%;
    top: 278px;
    left: 357px;
    gap: 5px;
    opacity: 0px;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    

}

.Principal__TextButton__h1 {
    font-size: 3.125rem;
    font-family: "Roboto", sans-serif;
}

.Principal__TextButton__p {
    font-size: 2.15rem;
    font-family: "Montserrat", sans-serif;
}

.Principal__TextButton__Buttons{
    display: flex;
    gap: 20px;
}

.Principal__TextButton__Buttons1 {
    display: grid;
    justify-content: space-between;
}

.Principal__TextButton__Buttons2 {
    display: grid;
    justify-content: space-between;
}

.Principal__TextButton__Buttons__Button {
    /* background-color: aqua; */
    border: 2px solid var(--cor-destaque);
    width: 230px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.25rem;
    padding: 8px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

}

.Principal__TextButton__Buttons__Button:hover {
    /* background-color: var(--cor-destaque); */
    border: 2px solid var(--cor-texto-principal);
    background-color: var(--cor-destaque);
    width: 230px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.25rem;
    padding: 8px 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transform: rotateY(10deg, 0%) translateZ(-10px, 0%); 
    transform-origin: left;

}



footer {
    color: var(--cor-destaque);
    padding: 20px;
    text-align: center;
    font-family:"Montserrat", sans-serif ;
    font-size: 1rem;

}


.rodape__button {
    text-decoration: none;
    color: var(--cor-destaque);
}


.rodape__button:hover {
    text-decoration: underline;
}



                                                            /* About Part  */


.Principal__TextButton__2 {
    width: 45%;
    top: 278px;
    left: 357px;
    gap: 5px;
    opacity: 0px;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    


}

.Principal__TextButton__2h1{
    font-size: 3.125rem;
    font-family: "Roboto", sans-serif;
}


.Principal__TextButton__About{
    display: flex;
    flex-direction: column;

}

.Principal__TextButton__About__Main{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    padding-left: 0px;
    padding-right: 100px;

}

.Principal__TextButton__About__Text{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    padding-right: 100px;
}

.Principal__TextButton__About__Button {
    border: 2px solid var(--cor-texto-botões);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 0.8125rem;
    padding: 6px 0;
    color: var(--cor-texto-botões);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}



.Principal__TextButton__About__Button:hover{
    border: 2px solid var(--cor-texto-principal);
    background-color: var(--cor-botoes);
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 0.8125rem;
    padding: 6px 0;
    color: var(--cor-texto-principal);
    text-decoration: none;
    margin: 20px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    }



                                                            /* Game Part */



.Principal__gameTextButton {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Principal__TextButton__nameList {
    font-size: 3.125rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-bottom: 60px;
    
}



.Principal__TextButton__text__pGame1 {
    font-size: 2.5rem;
    font-family: "Mouse Memoirs", sans-serif;
    text-decoration:underline var(--cor-destaque);
    padding-left: 45px;
}


.Principal__TextButton__text__pGame2 {
    font-size: 2.5rem;
    font-family: "Mouse Memoirs", sans-serif;
    text-decoration:underline var(--cor-destaque);
    gap: 0px 0px 100px;
}


.Principal__TextButton__gameList {
    display: flex;
    flex-direction:row;
    gap: 200px;
    /* padding: 30px; */
}

.Principal__TextButton__gameList__gameButtons1 {
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.Principal__TextButton__gameList__gameButtons2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Principal__TextButton__gameList__gameButtons__Zombies {
    width: 15rem;
    text-align: center;
    border-radius: 30px;
    border-color: var(--cor-destaque);
    font-size: 1.25rem;
    padding: 6px 0;
    margin: 20px 15px;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 500;
    color: var(--cor-texto-principal);
    text-decoration: none;
    transition: 1s;

}

.Principal__TextButton__gameList__gameButtons__Zombies:hover {
    width: 15rem;
    text-align: center;
    border-radius: 30px;
    border-color: red;
    font-size: 1.5rem;
    padding: 6px 0;
    margin: 20px 15px;
    font-family: "Matemasie", sans-serif;
    font-weight: 500;
    color: red;
    text-decoration: none;
    transition:1s ;
}

.Principal__TextButton__gameList__gameButtons__Normal{
    width: 15rem;
    text-align: center;
    border-radius: 30px;
    font-size: 1.25rem;
    padding: 6px 0;
    margin: 20px 15px;
    font-family:  "New Amsterdam", sans-serif;
    font-weight: 500;
    color: var(--cor-texto-principal);
    text-decoration: none;
    transition: 1s;
}


.Principal__TextButton__gameList__gameButtons__Normal:hover{
    width: 15rem;
    text-align: center;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 6px 0;
    margin: 20px 15px;
    font-family: "Permanent Marker", system-ui;
    font-weight: 500;
    color: blue;
    text-decoration: none;
    transition: 1s;

}




                                                            /* CellPhone (Principal)*/


 @media(max-width: 1200px) {

    .cabecalho__menu{
        justify-content: center;
        gap: 5rem;
    }

    
    .Principal{
        flex-direction: column-reverse;
        width: auto;
    } 

    .Principal__TextButton{
        width: auto;
        gap: 1%;
        display: flex;
        flex-direction: column;
        
    }


    .Principal__TextButton__Buttons{
        flex-direction: column;
        gap: 0px;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    }

    .Containerimg{
        width: 35%;
    }

    .Principal__TextButton__2h1{
        text-align: center;
        padding: 0% 0% 5% 0% ;
    }

                                                            /* CellPhone (About)*/

    .Principal__TextButton__About__Text{
        font-size: 1.55rem;
        font-family: "Montserrat", sans-serif;
        padding-right: 0px;
    }


    .Principal__TextButton__About__Main{
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        padding: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }



                                                            /* CellPhone (Game)*/

    
    .Principal__TextButton__gameList {
        display: flex;
        flex-direction:column;
        gap: 50px;
    }
    
    .Principal__TextButton__text{
        display: flex;
        flex-direction: column;
        gap: 230px;
        padding: 50px 0px 0px 30px;
    }

    .Principal__TextButton__gameList__gameButtons2{
        padding-bottom: 60px;
    }
}

/* rgb(0, 102, 128) */